.heder-block{
   justify-content: space-around;
   align-items: center;
   background-color: var(--bg-color);
}

.header-first{
   padding: 25px 0; 
}
h1{
   font-weight: 400;
   font-size: 50px;
   font-family: 'Lugrasimo', cursive;
   color:var(--red-shade);
   padding-left: 130px;
}
.social-part{
   gap: 25px;
}
.logo{
   width: 50px;
}
.icons{
   width: 30px;
}