.heder-block{
   justify-content: space-around;
   align-items: center;
   background-color: rgba(235, 210, 177, 0.518);
}

.header-first{
   padding: 25px 0; 
}
h1{
   font-weight: 400;
   font-size: 50px;
   font-family: 'Lugrasimo', cursive;
   color: rgb(165, 34, 34);
}
.social-part{
   gap: 25px;
}