:root{
   --bg-color:  rgba(235, 210, 177, 0.518);
   --red-shade: rgb(165, 34, 34);
   --black: #000;
   --white: #fff;
   --hover-orange: rgb(239, 155, 19);
}


*,
::after,
::before {
   box-sizing: border-box;
}
*{
   padding: 0;
   margin: 0;
}
body {
   // margin: 0;
   font: 16px/1.25 Arial, serif;
   appearance: none;
   font-family: 'Gilroy-Bold', sans-serif;
   font-family: 'Gilroy-Heavy', sans-serif;
   font-family: 'Gilroy-Light', sans-serif;
   font-family: 'Gilroy-Medium', sans-serif;
   font-family: 'Gilroy-Regular', sans-serif;
   font-family: 'Lugrasimo', cursive;
}
ul, ol{
   list-style: none;
}
.centered{
   max-width: 1456px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}

.d-flex {
   display: flex;
}
.wrapper{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
a{
   text-decoration: none;
   display: block;
}
h1,h2,h3,h4,h5,h6,p{
   margin: 0;
   padding: 0;
}