@import
'_param',
'_header',
'_footer',
'_slider';

/*Home page*/
.sticky-wrapper{
   padding-top: 200px;
}
.img-prev{
   // background-image: url('../img/bg_site.png');
   background-size: cover;
   object-fit: cover;
   background-position: center;
   background-repeat: no-repeat;
   position: relative;
   img{
      display: block;
      margin: 0 auto;
      width: 100%;
   }
}
.intro-txt{
   position: absolute;
   top: 590px;
   left: 108px;
   z-index: 50;
   font-size: 30px;
   line-height: 50px;
   text-align: left;
   width: 550px;
}
.nav-holder-sticky{
   position: relative;
   z-index: 1000;
   transition: padding-top 0.3s ease;
   &.fixed {
      position: fixed;
      top: 80px;
      left: 0;
      width: 100%;
      background-color: #fff;
      padding: 10px 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
    }
}
.sticky-padding{
   padding-top: 25px;
}
.nav-part{
   justify-content: center;
   gap: 50px;
   padding-bottom: 25px;
   font-size: 23px;
   list-style: none;
   a{
      color: var(--black);
      :hover{
         color: var(--hover-orange);
      }
   }
}
.slider-title{
   justify-content: center;
   padding: 25px 0;
   font-size: 23px;
   line-height: 15px;
   color: var(--red-shade);
}

/*abortions page*/
.prev-img{
   // position: relative;
   width: 300px;
   height: 300px;
   border-radius: 50%;
   margin: 0 auto;
   overflow: hidden;
   img{
      object-fit: cover;
      width: 100%;
      height: 100%;
   }
}
.post-catalog{
   flex-wrap: wrap;
   .post-picture{
      width: 100%;
      max-width: 33.3333%;
      flex: 0 0 33.3333%;
      padding: 10px;
      object-fit: cover; 
      img{
         object-fit: cover;
         overflow: hidden;
         border-radius: 10px;
         max-width: 100%;
         display: block;
         height: auto;
         flex-wrap: wrap;        
      }
   }
   .variation-picture{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      // max-width: 20%;
      // flex: 0 0 20%;
   }
}
.title{
   flex-direction: column;
   .pets-name{
      font-size: 60px;
      line-height: 20px;
      color: var(--red-shade);
      justify-content: center;
      padding-top: 30px;
      padding-bottom: 25px;
   }
   .info-pets{
      max-width: 700px;
      margin: 0 auto;
      padding-top: 15px;
      padding-bottom: 25px;
      font-size: 25px;
      text-align: center;
   }
}

/*volunteer page*/

#map {
   width: 50%; /* Розмір мапи по ширині */
   height: 200px; /* Висота мапи, яка змінюватиметься при кліці */
   transition: height 0.3s ease; /* Плавна анімація при зміні розміру */
   margin-top: 40px;
 }
.volonteer-title{
   justify-content: center;
   padding-top: 10px;
   padding-bottom: 25px;
   flex-wrap: wrap;
}
.info-volonteer-holder {
   flex-direction: column;
}
.volonteer-about{
   justify-content: center;
   font-size: 60px;
   line-height: 20px;
   color: var(--red-shade);
   padding-top: 30px;
   padding-bottom: 25px;
}
.volonteer-txt{
   text-align: center;
   display: block;
   margin: 0 auto;
   max-width: 800px;
   padding-top: 30px;
   padding-bottom: 40px;
   font-size: 30px;
}
.volonteer-holder-list{
   flex-direction: column;
   align-items: center;
   .holder-lict-title{
      font-size: 40px;
      line-height: 20px;
      color: var(--red-shade);
      padding-top: 30px;
      padding-bottom: 50px;
   }
   .volonteer-list{
      font-size: 20px;
      line-height: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: var(--green);
   }
}